{{ USERNAME }}
{{ (ansible_facts['user_gecos'] | split(','))[0] | replace(" ", "\n") }}
Ansible
PowerShell
Kubernetes
Geany
WSL
PPA
GPG
Fortran
DOSBox
executables
learnt
Azul
OpenJDK
IntelliJ
stdout
stderr
kubectl
untracked
decrypt
decrypts
decrypting
GitLab
Bitbucket
KDE
Cascadia
Konsole
GTK
