# For complete documentation of this file, please see Geany's main documentation
[styling]
# Edit these in the colorscheme .conf file instead
default=default
commentline=comment_line
word=keyword_1

[keywords]
primary=p pick r reword e edit s squash f fixup x exec b break d drop l label t reset m merge u update-ref

[settings]
lexer_filetype=Sh

# single comments, like # in this file
comment_single=#

# set to false if a comment character/string should start at column 0 of a line, true uses any
# indentation of the line, e.g. setting to true causes the following on pressing CTRL+d
	#command_example();
# setting to false would generate this
#	command_example();
# This setting works only for single line comments
comment_use_indent=false
