# Filetype extension configuration file for Geany
# Insert as many items as you want, separate them with a ";".
# See Geany's main documentation for details.
[Extensions]
CommitMessage=COMMIT_EDITMSG;TAG_EDITMSG;
GitRebase=git-rebase-todo;

# Note: restarting is required after editing groups
[Groups]
Misc=CommitMessage;GitRebase;
