{
  "editor.fontFamily": "'Cascadia Code', 'DejaVu Sans Mono', monospace",
  "editor.fontLigatures": false,
  "editor.fontSize": 15.5,
  "editor.fontWeight": "300",
  "editor.guides.bracketPairs": "active",
  "editor.indentSize": "tabSize",
  "editor.insertSpaces": false,
  "editor.renderWhitespace": "all",
  "editor.wordWrap": "on",
  "files.autoSave": "onWindowChange",
  "files.eol": "\n",
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true,
  "files.trimTrailingWhitespace": true,
  "markdown.validate.enabled": true,
  "redhat.telemetry.enabled": false,
  "security.workspace.trust.untrustedFiles": "open",
  "window.zoomLevel": 1,
  "workbench.colorTheme": "Default Dark+"
}
